
.container {
    /* background-color: var(--blanco);
    background-color: var(--blancoVerdoso); */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    min-height: 70vh;
  }
  
  .event {
    background-color: var(--blancoVerdoso);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .event-date {
    color: var(--azulNegruzco);
  }
  
  .event-description {
    color: var(--azulNegruzco);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: var(--verdeOliva);
    padding: 20px;
    border-radius: 5px;
  }
  
  .modal h3 {
    color: var(--blanco);
  }
  
  .modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .save-button {
    background-color: var(--verdeLimon);
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
 
.cancel-button {
  background-color: var(--azulNegruzco);
  color: var(--blanco);
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.react-calendar{
  width: 60rem;
  height: 20rem;
  background-color: transparent;
  border: none;
}
.titulo{
  text-align: center;
  font-weight: bold;

}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
  background: var(--verdeLimon);
}
.react-calendar__navigation__label__labelText{
  text-transform: capitalize;
}

.profile{
  width: 100vw;
  height: 65vh;
  display: grid;
  place-items: center;
}