.button-green {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #29AE3D;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
  
  .button-green:hover {
    background-color: #0c7c1c;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}