.container-header {
    height: 4.5rem;
    background-color: var(--blancoVerdoso);

}

.logo-header {
    width: 45px;
    height: 45px;
}

header {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10;
}

.container-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .toggle-icon {
    color: #333;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .toggle-icon:hover {
    color: #666;
  }