
.sidenav{
    margin-top:92px;
    left: -58px;

}

.texto-negro {
    color: var(--verdeOliva) !important;
    font-weight: 700;
    text-decoration: none;
    margin-left: 1rem;
    padding: 2em;
  }
  .sidenav---sidenav---_2tBP{
    min-width: 0px;
    background-color: whitesmoke;
    
  }

  .iconColor{
    padding: .5rem;
  }

  .texto-logout {
    color: black !important;
    font-weight: 400;
    text-decoration: none;
    margin-left: 1rem;
    padding: 1.5em;
  }

  /*@media screen and (max-width), screen and (width: 768px){
    .align-bottom{
      padding-top: calc(15px + (100vw - 700px) * (15 - 30) / (700 - 1000));
    }
  }*/

  @media screen and (min-width: 150px) and (max-width: 550px){
    .align-bottom{
      padding-top: 150vw;
    }
  }

  @media screen and (min-width: 551px) and (max-width: 768px){
    .align-bottom{
      padding-top: 100vw;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px){
    .align-bottom{
      padding-top: 50vw;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1440px){
    .align-bottom{
      padding-top: 38vw;
    }
  }

  @media screen and (min-width: 1440px) and (max-width: 2048px){
    .align-bottom{
      padding-top: 40vw;
    }
  }
  

  /*@media screen and (max-width: 768px){
    .align-bottom{
      padding-top: 160%;
    }
  }*/

