*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: var(--blanco);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*GLOBAL VAR*/
:root {
  --verdeLimon: #6FD513;
  --verdeOliva: olive;
  --azulNegruzco: #18171C;
  --verdeClaro: #D7F87F; 
  --blancoVerdoso: #e1e6d4; 
  --blanco: #ffffff; 
}






/*
@media (min-width: 577px) and (max-width: 768px) {
 Estilos para pantallas entre 577px y 768px de ancho (CELULARES)
}

@media (min-width: 769px) and and (max-width: 1024px) {
  Estilos para pantallas de 769px de ancho en adelante (TABLETS)
}*/